:root{

--green:#66704b;
--cream:#f5f3ed;
--white:#ffffff;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Inter',sans-serif;
background:var(--cream);
color:#222;

}

header{

background:white;
display:flex;
justify-content:space-between;
align-items:center;

padding:20px 8%;

position:sticky;
top:0;

}

.logo-area img{

height:70px;

}

nav{

display:flex;
gap:30px;

}

nav a{

text-decoration:none;
color:#222;

}

.hero{

height:90vh;

background:var(--green);

display:flex;
justify-content:center;
align-items:center;

text-align:center;

color:white;

}

.hero-content{

max-width:700px;

}

.small-title{

letter-spacing:4px;
margin-bottom:15px;

}

.hero h1{

font-family:'Cormorant Garamond',serif;
font-size:90px;
font-weight:400;

}

.hero-text{

font-size:20px;
margin:20px 0;

}

.btn{

background:white;
color:#222;

padding:15px 35px;

text-decoration:none;

display:inline-block;

}

.colecao{

padding:100px 8%;

}

.colecao h2{

text-align:center;

font-size:60px;

font-family:'Cormorant Garamond',serif;

margin-bottom:50px;

}

.produtos{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));

gap:30px;

}

.produto{

background:white;

padding:20px;

border-radius:10px;

text-align:center;

}

.produto img{

width:100%;
height:350px;
object-fit:cover;

}

.produto h3{

margin-top:20px;

}

.price{

font-size:28px;
font-weight:600;

margin:10px 0;

}

.produto span{

display:inline-block;

background:var(--green);

color:white;

padding:8px 15px;

margin-bottom:15px;

}

.produto button,
.pedido button{

background:var(--green);
color:white;

border:none;

padding:15px;

cursor:pointer;

width:100%;

}

.pedido,
.pix,
.contato{

padding:100px 8%;

text-align:center;

}

form{

max-width:600px;
margin:auto;

display:flex;
flex-direction:column;
gap:15px;

}

input{

padding:15px;

}

.pix img{

width:300px;
max-width:100%;

margin:30px auto;

}

.whatsapp,
.contato a{

display:block;

margin:15px auto;

width:300px;

padding:15px;

background:var(--green);

color:white;

text-decoration:none;

}

footer{

background:#111;
color:white;

padding:30px;

text-align:center;

}